body {
  background-image: url("bubbles2.gif");
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;

}

h1 {
  bakcground-color: #E27D60;
  text-align: center;
  font-family: Courier New;

}

h2 {
  background-color: #E27D60;
  text-align: left;
  font-family: Courier New;
}

p {
  font-family: Courier New;
}

ul {
  font-family: Courier New;
}
